<!DOCTYPE html>
<html lang="en">

<head>
   

    <meta charset="UTF-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header> Best Book</header>
    <main>
        <h4>Search Result </h4>

            <% searchResults.forEach( book => { %>
                <div  >
                      <img src="<%=book.image%>" alt="" >
                      
                          <h2 class="one"><%= book.title %></h2>
                          <h3><%=book.authors%></h3>
                          <p><%=book.description%></p>
                     
                  </div>
                  <% }) %>

    </main>

</body>

</html>