<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./public/styles/modules.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header> Best Book</header>
    <main>
        <h2>welcome in our website</h2>
    </main>
</body>

</html>