@media screen and (max-width: 480px)and (min-width: 150px) {

    
    main {
        font-family: 'Amatic SC', cursive;
        background-color: rgb(206, 201, 201);
      
    }
    /* body{
        background-color: rgb(206, 201, 201);
    } */
    h4 {
        color: white;
        text-align: center;
     
        height: 20%;
        font-size: xx-large;
        margin: auto;
    }
    h3 {
        font-size: x-large;
        font-family: 'Amatic SC', cursive;
    }
    .one {
        font-size: xx-large;
        font-family: 'Amatic SC', cursive;
    }
    .new {
        background-color: rgb(228, 222, 222);
        padding: 5%;
        margin: 10%;
        text-align: center;
        box-shadow: 8px 8px rgb(95, 93, 93);
    }
    #details{
        background-color: rgb(228, 222, 222);
        padding: 5%;
        margin: 10%;
        text-align: center;
        box-shadow: 8px 8px rgb(95, 93, 93);
    }
    .books{
        background-color: rgb(228, 222, 222);
        padding: 5%;
        margin: 10%;
        text-align: center;
        box-shadow: 8px 8px rgb(95, 93, 93);
    }
    .num{
        text-align: center;
    }
    .link{
        color: #fff;
        text-decoration: none;
    }

    .view{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    text-align: center;
        height: 30px;
        text-decoration: none;
        background-color: rgb(2, 2, 2);
        border-radius: 6px;
    }
    p{
        font-family: 'Amatic SC', cursive;
    }
    img {
        width: 97%;
    }
    .hide-details{
        display: none;
    }
}