

@media screen and (max-width: 480px)and (min-width: 150px) {
    * {
        font-family: 'Ruge Boogie', cursive
    }
   
    /* main {
        background-color: rgb(206, 201, 201);
    } */
    h4 {
        text-align: center;
        background-color: rgb(99, 97, 97);
        height: 20%;
        font-size: xx-large;
        margin: auto;
    }
    form {
        text-align: center;
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 15%;
    }
    button {
        margin-top: 10%;
        padding: 4%;
        background-color: black;
        color: white;
        margin-left: 35%;
        margin-right: 35%;
    }
    input {
        width: 90%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding: 4%;
        background-color: white;
        color: black;
    }
    label {
        /* height: 40px; */
        font-size: x-large;
        /* line-height: 40px; */
        width: 100%;
        line-height: 0px;
    }
    fieldset {
        background-color: rgb(156, 147, 147);
        margin-top: 10%;
        height: 35px;
    }
}