@media screen and (max-width: 480px)and (min-width: 150px) {
    * {
        font-family: 'Ruge Boogie', cursive
    }
    /* header {
        background-color: black;
        color: white;
        font-size: xx-large;
        height: 30%;
    } */
    /* main {
        background-color: rgb(206, 201, 201);
    } */
    h2 {
        text-align: center;
       
        height: 20%;
        font-size: xx-large;
        margin: auto;
    }
    

}